* {
    font-size: 1rem;
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    word-spacing: 0.3rem;
}
  
.baslik {
    text-align: left;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}

#bar {
    display: flex;
    flex-direction: column;
}

.cars {
    margin: 10px;
}

input {
    width: 15rem;
    padding: 0.1rem;
    margin: 0.1rem;
    border: 1px solid gray;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.add-car {
    margin-top: 0.2rem;
    width: 15rem;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.918);
    border: 2px solid rgb(148, 140, 140);
    border-radius: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.solid2 {
    margin-top: 0.5rem;
    width: 100%;
}

.add-car:hover {
    background-color: aliceblue;
    transition: 5ms;
}

.car-list {
    margin-left: 0.5rem;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 75%;
}

table thead tr {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
}

table,
tbody,
thead {
    border: 2px solid black;
}

table tbody tr td:last-child {
    font-size: 16px;
    text-align: center;
}

table tbody tr td {
    border: 1px solid red;
    padding: 10px;
}

table tbody tr td:first-child {
    font-size: 16px;
    width: 200px;
}

table thead tr th:first-child {
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
}

th {
    font-weight: 300;

}

img {
    width: 200px;
    word-break: break-word;
}

.black {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}